@import "../../mixins.scss";

.cnc_parent_wrapper {
  @include background;
  .game_card {
    @include gameCard;
    width: 900px;
    .title {
      color: #000066;
      text-align: center;
    }
    .hands_wrapper {
      @include handWrapper;
    }
    .start_btn {
      @include buttonStyle;
      width: 100%;
    }
    .start_btn:active {
      background: $buttonHoverColor;
    }
    .parent_wrapper {
      .result_wrapper {
        text-align: center;
        color: #ff5656;
      }
    }
  }
}
