.hand {
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  height: 150px;
  background-size: contain;
}

.hand:last-child {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
