@import "../../../assets/styles/mixins.scss";

.unc_parent_wrapper {
  @include background;

  .game_card {
    @include gameCard;
    width: 900px;
    .hands_wrapper {
      @include handWrapper;
    }
    .options_wrapper {
      @include handWrapper;
      margin: 20px 0;
      padding: 20px 0;
    }
    .title {
      color: #000066;
      text-align: center;
    }
    .start_btn {
      @include buttonStyle;
      width: 100%;
    }
    .parent_wrapper {
      display: flex;
      flex-direction: row;
      .timer_wrapper {
        flex: 1;
        text-align: center;
      }
      .points_wrapper {
        flex: 1;
        text-align: center;
      }
      .result_wrapper {
        flex: 1;
        text-align: center;
        color: #ff5656;
      }
    }
  }
}
