@import "../../../assets/styles/mixins.scss";

.unc_parent_wrapper {
  @include background;

  .game_card {
    @include gameCard;
    width: 900px;
    .hands_wrapper {
      @include handWrapper;
      .left_hand_wrapper {
        flex: 1;
      }
      .right_hand_wrapper {
        flex: 1;
      }
    }
    .title {
      color: #000066;
      text-align: center;
    }
    .start_btn {
      @include buttonStyle;
      width: 100%;
    }
  }
}
