@import "../../assets/styles/mixins.scss";

.game_options_parent_wrapper {
  @include background;

  .options_card {
    @include gameCard;
    width: 400px;

    .title {
      color: #000066;
      text-align: center;
    }
    .option_btn {
      @include buttonStyle;
      text-decoration: none;
    }
  }
}
