// all fonts goes here

@font-face {
  font-family: "bangersregular";
  src: url("./assets/fonts/bangers-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/bangers-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
