@import "../../../assets/styles/mixins.scss";

.cnc_parent_wrapper {
  @include background;
  .game_card {
    @include gameCard;
    width: 900px;
    .title {
      color: #000066;
      text-align: center;
    }
    .hands_wrapper {
      @include handWrapper;
      .hand {
        flex: 1;
        height: 300px;
      }
    }
    .start_btn {
      @include buttonStyle;
      width: 100%;
    }
  }
}
